<%@ page language="java" contentType="text/html; charset=utf-8"
    pageEncoding="utf-8"%>
<h4>Tài liệu lập trình</h4>
<table class="table table">
	<tbody>
		<tr>
			<td><a href="http://vnoi.info/">VNOI Wiki</a></td>	
		</tr>
		<tr>
			<td><a href="https://www.geeksforgeeks.org/">GeeksforGeeks</a></td>	
		</tr>
		<tr>
			<td><a href="https://leetcode.com/">Leetcode</a></td>	
		</tr>
	</tbody>
</table>
<h4>Liên kết</h4>
<table class="table table">
	<tbody>
		<tr>
			<td><a href="http://codeforces.com/">Codeforce</a></td>	
		</tr>
		<tr>
			<td><a href="http://poa.ptitteam.com/">ITMC</a></td>	
		</tr>
		<tr>
			<td><a href="http://bkdnoj.dut.udn.vn/public/">bkdnOJ</a></td>	
		</tr>
	</tbody>
</table>
	
